# ------------------------------------
# 1. AMBIENTES VIRTUAIS E DEPENDÊNCIAS


# Regras gerais para ambientes
.venv/
env/
venv/
*.env
*.bak

# Pastas específicas do seu projeto 
enviroments/b2s+/
enviroments/cnnNovaB/
enviroments/preprocessamentobs2/
enviroments/b2splus/
enviroments/preprocessamentobs2plus/

# Ignora qualquer outra pasta dentro de 'enviroments/'
enviroments/*/

# ------------------------------------
# 2. DADOS E ARQUIVOS GRANDES (Data e Raw)
# Ignora datasets grandes que devem ser baixados separadamente ou quebram o limite do GitHub

data/
datasets/
data/raw
data/processed


# ------------------------------------
# 3. CACHE E ARQUIVOS DE SISTEMA
# Arquivos que o Python e o Jupyter criam automaticamente

__pycache__/
*.pyc
*.pyd
.ipynb_checkpoints/
.DS_Store             # Arquivos de sistema do macOS
Thumbs.db             # Arquivos de sistema do Windows
# ... (Manter regras de ambientes e dados)

# ------------------------------------
# 3. MODELOS SALVOS E ARQUIVOS DE COMPILAÇÃO

models/
notebooks/experiments/

# Arquivos de cache e configuração do VS Code ou IDEs
.vscode/
*.code-workspace

